#headimg {
  border-radius: 50%;
  width: 300px;
}

.jumbotron {
  background-color: #738517
}

.top {
  text-align: center;
  font-style: 'Varela Round', sans-serif;
}

.card-text p ul {
  text-align: center;
}

.card-header {
  text-align: center;
  background-color: #738517;
  border-color: black;
  border-width: medium;
}

h2 {
  text-align: center;
}

span a {
  margin-top: 40px;
}

.row {
  margin-top: 20px;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

h4 {
  text-align: center;
}
