body {
  font-style: 'Varela Round', sans-serif;
}

nav {
  margin-top: 1%;
  border: 1px solid black;
}

span a {
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom:20px;
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
}

h4 {
  text-align: center;
}

.breadcrumb {
  background-color: #738517;
}

.jumbotron {
  background-color: #738517;
  padding-bottom: 1em;
  opacity: 1;
}

.top {
  text-align: center;
  padding-bottom: 5%;
}

.top p {
  font-size: 50px;
  margin-top: 10px;
}

.card-text p ul {
  text-align: center;
}

.card-header {
  text-align: center;
  font-size: 25px;
  background-color: #738517;
  border-color: black;
  border-width: medium;
}

.card-body {
  background-color: #DCEBD5;
}

.container {
  background-color: #D0D6D2;
  padding-bottom: 1%;
}

.row {
  margin-top: 20px;
}

#heading {
  border-radius: 50%;
  width: 300px;
}

#hacker {
  float: right;
  margin-right: 15%;
  margin-top: 3.5%;
}

#para {
  padding-top: 2%;
}
